[submodule "engine/openwhisk"]
	path = engine/openwhisk
	url = git@github.com:nuvolarisinc/openwhisk
	branch = nuvolaris
[submodule "operator/nuvolaris-operator"]
	path = operator/nuvolaris-operator
	url = git@github.com:nuvolaris/nuvolaris-operator
	branch = main
[submodule "operator/operator"]
	path = operator/operator
	url = git@github.com:nuvolaris/operator
	branch = main
