[submodule "operator/nuvolaris-operator"]
	path = nuvolaris-operator
	url = git@github.com:nuvolaris/nuvolaris-operator
	branch = main
[submodule "operator/operator"]
	path = nuvolaris-operator-enterprise
	url = git@github.com:nuvolaris/operator
	branch = main
[submodule "nuvolaris-testing"]
	path = nuvolaris-testing
	url = git@github.com:nuvolaris/nuvolaris-testing
	branch = main
[submodule "cli/nuv"]
	path = nuv
	url = git@github.com:nuvolaris/nuv
	branch = main
